<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>D3 </title>
  <!--<link rel="stylesheet" type="text/css" href = "style_website.css">-->
  <link href="~/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/style_website.css') }}">

</head>

<body>

<!--<script src="//d3js.org/d3.v3.min.js"></script>-->
<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>

<script src="https://d3js.org/d3-ease.v1.min.js"></script>
<script src="https://d3js.org/d3-random.v1.min.js"></script>
<script src="https://unpkg.com/d3-hist2d@1.0.6/build/d3-hist2d.min.js"></script>

<div id="dat_new_viz"></div>
<script src= "../static/js/dat_new.js?gtdtgjkjhfgknhvgddvSt"></script>


<form>
  <label>
    X-axis
  </label>
  <select id="xaxis" name="xaxis">
    <option value="age">Age</option>
    <option value="channel">Channel</option>
    <option value="content">Content</option>
    <option value="date_time">Date time</option>
    <option value="gender">Gender</option>
    <option value="country_of_birth">Country of Birth</option>
    <option value="location">Location</option>
    <option value="school">School</option>
    <option value="patient_count_new">Patient Count</option>
    <option value="product_A_share">Product A Share</option>
    <option value="response">Response</option>
  </select>
  <label>
    Y-axis
  </label>
  <select id="yaxis" name="yaxis">
    <option value="age">Age</option>
    <option value="channel">Channel</option>
    <option value="content">Content</option>
    <option value="date_time">Date time</option>
    <option value="gender">Gender</option>
    <option value="country_of_birth">Country of Birth</option>
    <option value="location">Location</option>
    <option value="school">School</option>
    <option value="patient_count_new">Patient Count</option>
    <option value="product_A_share">Product A Share</option>
    <option value="response">Response</option>
  </select>
  <input type="submit" onclick="getData(event)" />
</form>




<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

</body>
